@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;600&display=swap');

:root {
  --main-font-family: 'Chivo', sans-serif, 'Open Sans';
  --sub-font-family: sans-serif, 'Open Sans', 'Chivo';
  --main-theme-color: #E4E4E4;
  --main-text-color: #161010;
  --sub-text-color: #AAAAAA;
}