@import "./theme/main.css";

.title {
  font-family: var(--sub-font-family);
  color: var(--sub-text-color);
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.form {
  height: 880px;
  width: 680px;
  background-color: var(--main-theme-color);
  margin-bottom: 24px;
  border: 1px solid #bbbbbb;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

.main {
  display: flex;
}

.mainTitle,
.educationTitle, 
.experienceTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainInfo > input,
.education > input,
.experience > input {
  min-width: 85%;
  margin: 4px 12px 0px 12px;
}

.headShot {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  min-width: 95%;
  min-height: 80px;
  max-height: 80px;
  margin: 12px 12px 0px 12px;
  resize: none;
}

.education,
.experience {
  display: flex;
  flex-direction: column;
}

.schoolDates,
.workDates {
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
  justify-content: space-between;
  align-items: center;
}

.line {
  width: 80px;
  height: 2px;
  background-color: black;
}

.educationBtn,
.experienceBtn {
  margin: 4px 12px 12px 12px;
}

.skill, .social {
  margin-left: 12px;
  display: flex;
  flex-grow: 3;
  min-width: 85%;
}

.skill > input, .social > input {
  width: 75%;
  margin-right: 12px;
  margin-top: 4px;
}

.skill > button, .social > button {
  margin: 4px 12px 0px 12px;
  width: 100px;
  height: 24px;
}

.formActionBtns {
  display: flex;
  justify-content: space-between;
}

.pdfBtn, .resetBtn {
  margin: 24px 12px 0px 12px;
  width: 45%;
  border: none;
  height: 48px;
}

.pdfBtn {
  background-color: #AEFFA0;
}

.resetBtn {
  background-color: #B8B8B8;
}